.fifth_cloud1 {
    width: 50vw;
    height: 12vh;
    position: relative;
    top: -21px;
    left: -5vw;
}
.fifth_cloud2 {
    width: 40vw;
    height: 12vh;
    position: relative;
    top: 24vh;
    left: 29vw;
}
.fifth_cloud3 {
    width: 30vw;
    height: 7.5vh;
    position: relative;
    top: 32vh;
    left: 1vw;
}
.fifth_television {
    width: 100vw;
    height: 67.85vh;
    position: relative;
    top: 11vh;
}
.fifth_text1 {
    position: absolute;
    top: 10vh;
}
.fifth_text2 {
    position: absolute;
    top: 17vh;
}
.fifth_text3 {
    position: absolute;
    top: 27vh;
}
.fifth_text4 {
    position: absolute;
    top: 35vh;
}
.fifth_style {
    font-family: "Myfont";
    font-size: 7vw;
    color: #FFC6D6;
}
