.six-font1,.six-font2{
    font-family: MyFont;
    position: absolute;
}
.six-font1{
    font-size: 1.5625rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: rgba(101, 53, 97, 1);
}
.six-font2{
    font-size: 2.375rem;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: rgba(225, 91, 77, 1);
}
.six-w1{
    top: 10vh;
}
.six-w2{
    top: 17vh;
}
.six-w3{
    top: 30vh;
}
.six-w4{
    top: 39vh;
}
.six-w5{
    top: 48vh;
}
.six-cloud3{
    position: absolute;
    width: 35vw;
    height: 11vh;
    top: 12.5vh;
    left: -14vw;
}
.six-kite{
    position: absolute;
    width: 22.5vw;
    height: 14.5vh;
    top: 5.2vh;
    right: 1.8vw;
}
.six-cloud1{
    position: absolute;
    width: 85.4vw;
    height: 16.5vh;
    left: 0;
    bottom: 11.7vh;
    z-index: 100
}
.six-cloud2{
    position: absolute;
    width: 57vw;
    height: 15vh;
    left: -10vw;
    bottom: -6vh;
}
#six-condition{
    width: 60.5vw;
    height: 25.26vh;
    z-index: 10;
    position: absolute;
    bottom: 20vh;
    left: 10vw;
}