body{
    margin: 0;
}
@font-face
{
font-family: Myfont;
src: url('./../myfont.ttf'),
}
#iSlider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#first{
    width: 100%;
    height: 100%;
}
#second{
    width:100vw;
    height:100vh;
    background: url(./../image/back2.png);
    background-size:cover;
}

#third{
    background: url(../image/page3/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#forth{
    width:100vw;
    height:100vh;
    background: url(./../image/back4.jpg);
    background-size:cover;
}


