body{
    margin: 0;
}
@font-face
{
font-family: Myfont;
src: url('../fonts/myfont.ttf');
}
#iSlider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#first{
    width: 100%;
    height: 100%;
    background: url(../image/page1/back.jpg);
    background-size: cover;
}
#second{
    width:100vw;
    height:100vh;
    background: url(./../image/back2.png);
    background-size:cover;
}
#third{
    background: url(../image/page3/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#six{
    background: url(../image/page6/back.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;  
}
#seven{
    background: url(../image/page7/back.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;     
}
#eight{
    background: url(../image/page8/back.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;     
}
