body{
    margin: 0;
}
@font-face
{
font-family: Myfont;
src: url('../fonts/myfont.ttf');
}
#iSlider-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

#iSlider-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#iSlider-wrapper li {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    list-style: none;
}

#first{
    width: 100%;
    height: 100%;
    background: url(../image/page1/back.jpg);
    background-size: cover;
}
#second{
    width:100vw;
    height:100vh;
    background: url(./../image/back2.png);
    background-size:cover;
}

#third{
    background: url(../image/page3/background.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
#forth{
    width:100vw;
    height:100vh;
    background: url(./../image/back4.jpg);
    background-size:cover;
}
#fifth {
    width: 100vw;
    height: 100vh;
    background: url(../image/page5.png);
    overflow: hidden;
    background-size: cover;
}
#six{
    background: url(../image/page6/back.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;  
}
#seven{
    background: url(../image/page7/back.png);
    width: 100vw;
    height: 100vh;
    background-size: cover;     
}
#eight{
    background: url(../image/page8/back.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;     
}
.center{
    position: absolute;
    left: 0;    right: 0;
    margin: auto;
    text-align: center;
}
@keyframes fadein
{
    from{opacity: 0;}
    to{opacity: 1;}
}
.display1{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display2{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display3{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display4{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display5{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-delay: 4.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display6{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display7{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-delay: 7s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.display8{
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1s;
    animation-delay: 8.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.pause {
    height: 100%;
    display: block;
    background: url(../music/暂停.png);
    background-size: cover;  
}
.musicControl{
    position: fixed;
    left: 76vw;
    top: 2vh;
    width: 15vw;
    height: 15vw;
}
.play {
    height: 100%;
    display: block;
    background: url(../music/音乐播放.png) no-repeat;
    background-size: cover;  
    animation: reverseRotataZ 1.2s linear infinite;
}
@keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}