@font-face
{
font-family: "Myfont";
src: url('./file/myfont.ttf');
}
body{
    margin:0;
    padding:0;
}
.backperson{
    width:100vw;
    height:100vh;
    background: url(./file/bank.png) no-repeat;
    background-size:100% 100%;  
    font-family: "Myfont";
    display:flex;
    flex-direction: column;
    align-items:center;
}
.backperson_text1{
    font-size:4.6vh;
    color:rgba(223,47,47,1);
    line-height:5.2vh;
    margin-top:8vh;
}
.backperson_text2{
    height:4.4vh;
    margin-top:7vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}
.backperson_style2{
    font-size:3.1vh;
    color:rgba(40,38,38,1);
}
.backperson_style3{
    font-size:2.6vh;
    color:rgba(40,38,38,1);
}
.backperson_text3{
    margin-top:6.3vh;
    width:71vw;
}
.backperson_text4{
    margin-top:1.5vh;
    height:4.4vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}
.backperson_text5{
    margin-top:7.3vh;
    height:4.4vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}
.backperson_text6{
    position: absolute;
    top: 82vh;
    left: 19vh;
    font-size: 3.1vh;
    color: rgba(40,38,38,1);
}
.backperson_text7{
    position: absolute;
    top: 86vh;
    left: 4vh;
    font-size:3.1vh;
    color:rgba(40,38,38,1);
}
.backperson_block{
    position: absolute;
    top: 78vh;
    left: 29vh;
    width: 29vw;
    height: 29vw;
    background-color: red;
}
.pause {
    height: 100%;
    display: block;
    background: url(./file//music/暂停.png);
    background-size: cover;  
}
.musicControl{
    position: fixed;
    left: 76vw;
    top: 2vh;
    width: 15vw;
    height: 15vw;
}
.play {
    height: 100%;
    display: block;
    background: url(./file/music/音乐播放.png) no-repeat;
    background-size: cover;  
    animation: reverseRotataZ 1.2s linear infinite;
}
@keyframes reverseRotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(-360deg);}
}
@keyframes rotataZ{
    0%{-webkit-transform: rotateZ(0deg);}
    100%{-webkit-transform: rotateZ(360deg);}
}