@font-face
{
font-family: "Myfont";
src: url('./file/myfont.ttf');
}
body{
    margin:0;
    padding:0;
}
.backperson{
    width:100vw;
    height:100vh;
    background: url(./file/bank.png) no-repeat;
    background-size:100% 100%;  
    font-family: "Myfont";
    display:flex;
    flex-direction: column;
    align-items:center;
}
.backperson_text1{
    font-size:4.6vh;
    color:rgba(223,47,47,1);
    line-height:5.2vh;
    margin-top:8vh;
}
.backperson_text2{
    height:4.4vh;
    margin-top:7vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}
.backperson_style2{
    font-size:3.1vh;
    color:rgba(40,38,38,1);
}
.backperson_style3{
    font-size:2.6vh;
    color:rgba(40,38,38,1);
}
.backperson_text3{
    margin-top:6.3vh;
    width:71vw;
}
.backperson_text4{
    margin-top:1.5vh;
    height:4.4vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}
.backperson_text5{
    margin-top:7.3vh;
    height:4.4vh;
    border-bottom: 2px solid rgba(223,47,47,1);
}